@viewport {
  width: 1300px auto;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Slabo 13px', serif;
    min-width: 100%;
}
h1, h2, h3{
    text-decoration: none;
}
.navi{
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    height: 150px;     
    z-index:10000;
    background: #fff;
    border-bottom: 2px solid #16435d;
}
.navi h2{
    text-align: left;
    font-weight: 100;
    position: absolute;
    border-bottom: 2px solid #16435d;
    padding-top: 20px;
    margin-left: 24px;
    cursor: pointer;
    z-index: 500; 
}
.navi code{
    color: #1d81a7;
    text-align: left;
    font-weight: 800;
}
ul{
    list-style: none;
    padding-top: 80px;
    text-align: left;
}
li{
    padding: 0;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
}
ul li a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
    color: #16435d;
}
ul li a:hover{
    background: #256188;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #072c3b;
}
.ci{
    padding-left: 20px;
}
.sky-bg{
    height: 0px;
    width: 0px;
}
.s1{
    margin-top: 5px;
    position: absolute;
    top: 150px;
    min-width: 100%;
    padding: 10px 0px 10px 0px;
    color: #fff;
    background: #256188;
    text-shadow: 0.5px 1px 2px #000;    
}
.s1h2{     
    max-width: 95%;
    border-bottom: 1.5px solid #fff;   
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.s1next{
    font-size: 2.5em;
    text-align: right;   
    padding-right: 100px;
    padding-top: 10px;
}
.s1next:hover{
    color: #19a57f;
    cursor: pointer;
}
.proj{
    position: absolute;
    top: 720px;
    left: 40%;
    text-align: center;
    color: #0b3571;
    border-bottom: 2px solid #000;
}
.s2{
    position: absolute;
    top: 800px;
    width: 100%;
    height: 400px; 
    padding: 50px 0 10px 0;
    display: block;   
}   
.s2 a{
    cursor: pointer;
}
.s2s1{
    position: relative;
    width: 100%;
    height: 100%;  
    left: 0;
    text-align: center;
}
.s2s1 span{
    margin-top: 10px;
    color: #1c5f48;
}
.s2s1 span:hover{
    color: #2d906a;
}
.s2s2{
    position: relative;
    width: 100%;
    height: 100%;  
    background: #fff;    
    text-align: center;
}
.s2s2 span{
    margin-top: 10px;
    color: #1c385f;
}
.s2s2 span:hover{  
    color: #133e2c;
}
.s2s3{
    position: relative;
    width: 100%;
    height: 100%;   
    text-align: center;
}
.s2s3 span{
    margin-top: 10px;
    color: #2b6bc3;
}
.s2s3 span:hover{  
    color: #7b1e25;
}
.projweb{    
    position: relative;
    top: 2040px;
    border-bottom: 2px solid #000;
    max-width: 95%;
    cursor: pointer;
    color: #0b3571;
}
.s2b{
    margin-left: 2.5%;
    position: relative;
    top: 2050px;
    width: 95%;
    max-width: 100%;
    text-align: left;
    display: block;    
    padding: 20px 5px 40px 5px;
    text-overflow: ellipsis;
}
.s2b a{
    position: relative;
    text-decoration: none;    
}
.s2b a span{
    color: #19a57f;
    font-weight: 600;
    font-size: 2em; 
}
.s2b a span:hover{
    color: #8e265e;    
}
.s2b a span i{
    text-decoration: none;
    font-size: 0.4em;
    font-style: normal;
    font-weight: 100;
    color: #256188;
}
.s2b a p{
    padding: 1px 0px 2px 0px;
    font-size: 1em;
    color: #1c385f;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.s2b p:hover{
    color: #8e265e;
}
.s2b p i{
    color:  #7e268e;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.s3{
    position: absolute;
    width: 100%;
    height: 50px;
    color: #fff;
    background: #256188;
    text-align: center;
    padding-top: 50px;
}
.s3 a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-family: "slabo 13px";
}
.s3 a span{
    color: #79b142;
}