@import url(fontawesome-all.min.css);
@viewport {
    width: device-width;
    zoom: 1;
}

@font-face {
    font-family: Palatino;
    src: url('../fonts/PalatinoR.ttf');
  }  

/* @font-face {
    font-family: LinLibertine;
    src: url('../fonts/LinLibertine_R.ttf');
}   */

html,
body {
    font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 18px;
    /* max-width: 100%; */
    margin-left: 10%;
    width: 80%;
    /* overflow-x: hidden; */
}

.wrapper {
  min-height: 0vh;
  display: flex;
  flex-direction: column; /* Keeps things vertical */
  justify-content: center; /* Vertically center contents */
}



a, a:visited {
    color: #377dd8;
    text-decoration: none;
}

a:hover {
    color: #95bcf0;
    text-decoration: none;
}

h1,
h2,
h3 {
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}

h1 {
    color: #111;
    text-align: center;
}

#header {
    display: unset;
}

li {
    margin-top: 10px;
}

.index-nav {
  position: static; /* turn off sticky */
  margin-top: 20vh; /* push nav down */
  border-bottom: none;
  width: 100%;
  height: 3em;
  z-index: 10000;
  background: #ffffff;
  font-size:1.1em;
  /* border-bottom: 2px solid #000000; */
  /* border-top: 2px solid #000000; */
}

.index-nav ul {
    list-style: none;
    text-align: right;
}

.index-nav li {
    padding: 0;
    margin: 0;
    display: inline;
}

.index-nav ul li a {
    padding: 5px 5px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
}

.index-nav ul li a:hover,
.index-nav ul li a:active {
    color: #377dd8;
    /* text-decoration: none; */
    /* border-bottom: 2px solid #575757; */
}

.nav {
    position: static;
    /* right: 0px; */
    top: 0px;
    /* left: 10%; */
    width: 100%;
    height: 2em;
    z-index: 10000;
    background: #fff;
    margin-top: 0;
    border-bottom: 2px solid #000000;
}

.nav h2 {
    text-align: left;
    font-weight: 100;
    vertical-align: middle;
    position: absolute;
    cursor: pointer;
    z-index: 500;
    color: #000000;
    font-size: 1.1em;
}

.name {
    font-size: 1.2em;
    margin: 0;
    vertical-align: top; 
}

.hidden {
    visibility: hidden;
}

a.active {
    color: #6e6e6e;
    text-decoration: underline;
}

a:focus {
  outline: 2px solid #377dd8;
}

.nav ul {
    list-style: none;
    text-align: right;
}

.nav li {
    padding: 0;
    margin: 0;
    display: inline;
}

.nav ul li a {
    padding: 5px 5px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
}

.nav ul li a:hover,
.nav ul li a:active {
    color: #377dd8;
    /* text-decoration: none; */
    /* border-bottom: 2px solid #575757; */
}

section {
    padding-top: 0px;
    padding-bottom: 15px;
    justify-content: center;
    overflow: hidden;

    /* height: 100%; */
    /* min-height: 100vh; */
    /* align-items: center; */
}

#flickr {
    margin-left: 20%;
    margin-right: auto;
    width: 100%;
}

.container {
    padding-top:2vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* aligns top of image and text */
    gap: 2rem; /* spacing between image and text */
    font-size: 1.1em;
}

.left{
    max-width: 33%;
    flex-shrink: 0;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}


.right {
  flex: 1;                        /* take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;        /* vertical centering */
  text-align: left;
}


.intro {
    float: right;
    margin-left: 10px;
    margin-right: auto;
    width: 66%;
    word-wrap: break-word;
}

.section-title {
    padding: 5px 0 0 0;
    margin-bottom: 0em;
    font-size: 1.5em;
    /* text-decoration: underline; */
}

.section-title a {
    font-size: 0.75em;
}

.research-title{
    font-weight: 600;
}

.foot {
    position: sticky;
    right: 0px;
    /* height: 30px; */
    z-index: 10000;
    background: #fff;
    margin-top: 0;
    padding: 10px 0 0 0;
    /* margin: 0px; */
    border-top: 2px solid #000000;
    padding-bottom: 1%;
}

.foot ul {
    list-style: none;
    text-align: right;
    padding: 0px;
    padding-top: 0px;
    margin: 0 0 0 0;
    right: 50%;
}

.foot li {
    padding: 0;
    margin: 0;
    display: inline;
}


.foot ul li a {
    margin: 0px;
    padding-top: 0px;
    padding-left: 5px; 
    padding-right: 5px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
}

.foot ul li a:hover,
.foot ul li a:active {
    color: #6e6e6e;
    /* text-decoration: none; */
    /* border-bottom: 2px solid #575757; */
}

.foot .email {
    font-size: 15px;
    font-weight: bold;
    float: left;    
}

.foot .copyright {
    font-size: 15px;
    /* padding-bottom: 2%; */
    float: right;
}

.visualize-spectra {
    border: 0;
}

@media (max-width: 1200px) {

    html, body{
        font-size: 17px;
        padding: 0;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }

    .index-nav {
        margin-top: 10vh; /* push nav down */
    }

    .index-nav ul {
        padding-left: 0px;
        padding-top: 0px;
        margin: 0;
        text-align: center;
    }
    
    .index-nav li {
        padding: 0px;
        margin-bottom: 0px;
    }

    .name{
        display: none;
    }

    .nav {
        padding-top:2%;
        height: 20px;
    }

    section {
        padding-top: 5px;
    }

    .nav h2 {
        text-align: center;
        padding-top: 0px;
        position: relative;
    }

    .nav ul {
        padding-left: 0px;
        padding-top: 0px;
        margin: 0;
        text-align: center;
    }
    
    .nav li {
        padding: 0px;
        margin-bottom: 0px;
    }

    .left {
        display: inline-block;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    
    .intro {
        display: inline-block;
        width: 100%;
    }
    
}

@media (max-width: 600px) {
    body{
        font-size: 15px;
    }
    
    .index-nav{
        margin-top: 1vh; /* push nav down */
    }
    .container {
        padding-top: 0;
    }
    .name {
        display: none;
    }

    .nav {
        padding-top:3%;
        height: 25px;
    }

    section {
        padding-top: 0px;
    }

    .nav h2 {
        padding-top: 5px;
    }

    .nav ul li a {
        padding: 10px 10px;
    }

    .nav ul li a:hover {
        /* text-decoration: underline; */
        border-bottom: none;
    }
}


@media (max-width: 420px) {
    body{
        font-size: 13px;
    }

    section {
        padding-top: 5px;
    }

    .nav h2 {
        padding-top: 0px;
    }

    .nav ul li a {
        padding: 5px 5px;
    }

}

@media (max-width: 300px) {
    body{
        font-size: 12px;
    }

    .nav ul li a {
        padding: 5px 5px;
    }

    /* .nav {
        height: 105px;
    } */

    /* section {
        padding-top: 105px;
    } */
}

.goawaybot {
    display: none;
}

#publist h3 {
  margin-top: 1.5em;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
}

details summary {
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.3em 0;
}

details[open] summary {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

.sort-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  font-family: Palatino, serif;
  gap: 0.5em;
}

.sort-dropdown {
  padding: 6px 6px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1em;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
}

.sort-btn {
  background-color: #f4f4f4;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 6px 6px;
  cursor: pointer;
  font-size: 0.95em;
  font-family: inherit;
  transition: background-color 0.2s, color 0.2s;
}

.sort-btn:hover {
  background-color: #377dd8;
  color: #fff;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-mode a,
body.dark-mode .nav ul li a,
body.dark-mode .foot ul li a {
    color: #80b3ff;
}

body.dark-mode a:hover,
body.dark-mode .nav ul li a:hover,
body.dark-mode .foot ul li a:hover {
    color: #cce0ff;
}

body.dark-mode .nav,
body.dark-mode .foot {
    background-color: #121212;
    border-color: #444;
}

body.dark-mode .nav h2{
    color: #80b3ff;
}

body.dark-mode .sort-btn,
body.dark-mode .sort-dropdown {
    background-color: #333;
    color: #f0f0f0;
    border-color: #777;
}

body.dark-mode details[open] summary {
    border-color: #555;
}

.dark-mode {
  background-color: #111;
  color: #ddd;
}

.dark-mode a {
  color: #8bbfff;
}

.dark-mode .nav,
.dark-mode .foot {
  background: #111;
  border-color: #444;
}

.dark-mode .sort-btn {
  background-color: #222;
  color: #ddd;
  border-color: #555;
}

.dark-mode .sort-btn:hover {
  background-color: #377dd8;
  color: white;
}

#toggle-dark {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  color: var(--fg);
  transition: opacity 0.3s;
}

#toggle-dark:hover {
  opacity: 0.7;
}

.cv-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: 0;
}

@media (max-width: 800px) {
  .cv-columns {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  #flickr {
        max-width: 100%;
        margin: 0;
    }
}